.DS_Store
/test
/log
/dump
/.git
composer.lock
command.phar
index.html
git.ssh
cli.help
.fleet
.idea
.vscode
# Ignore all folders within /system/
/system/*/

# Except for 
!.gitkeep
!/system/Composer/
!/system/Debugger/
!/system/plugins/