includes:
	- phpstan.includes.php

parameters:
	phpVersion: 80100
	tmpDir: builds/phpstan
	level: 6
	reportUnmatchedIgnoredErrors: true
	bootstrapFiles:
		- system/Boot.php
	paths:
		- app
		- bin
		- system
		- routes
		- public
		- libraries
		- resources
	excludePaths:
		- writeable/*
		- samples/*
		- docs/*
		- tests/*
		- system/plugins/*
		- app/Errors/Defaults/css/*
		- public/assets/*
		- builds/*
		- dump/*
	scanDirectories:
		- samples/
		- resources/Views/
	checkGenericClassInNonGenericObjectType: false
	checkMissingCallableSignature: true
	treatPhpDocTypesAsCertain: false

services:
	- Luminova\Debugger\PHPStanRules