.container {
    margin: 1rem auto;
}
.main-container{
    min-height: calc(100vh - 210px);
}

.info-container {
    text-align: left !important;
    padding: 0;
}

.info-tab-buttons  ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}
  
.info-tab-buttons li {
    flex: 1;
    padding: .5rem .9rem;
    text-align: center;
    background-color: #b6bfd2;
    margin: 5px;
    border-radius: 8px;
    cursor: pointer;
    color: #000109;
    font-weight: bold;
}

.info-tab-buttons li.active {
    color: #dcdeec;
    background-color: #063ca9;
}

.info-tab-contents .content{
    display: none;;
}

.info-tab-contents .content.active{
    display: block;
}

.tabs {
    list-style: none;
    list-style-position: inside;
    margin: 0;
    padding: 0;
    margin-bottom: -1px;
}

.tabs li {
    display: inline;
}

.tabs a:link,
.tabs a:visited {
    padding: 0rem 1rem;
    line-height: 2.7;
    text-decoration: none;
    color: #222;
    background: #ededee;
    border: 1px solid rgba(0,0,0,0.15);
    border-bottom: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: inline-block;
}

.tabs a:hover {
    background: #ededee;
    border-color: rgba(0,0,0,0.15);
}

.tabs a.active {
    background: #fff;
    color: #555;
}

.tab-content {
    background: #fff;
    border: 1px solid rgba(0,0,0,0.15);
}

.content {
    padding: 1rem;
}

.hide {
    display: none;
}

ul, ol {
    line-height: 1.8;
}

table {
    width: 100%;
    overflow: hidden;
}

th {
    text-align: left;
    border-bottom: 1px solid #e7e7e7;
    padding-bottom: 0.5rem;
}

td {
    padding: 0.2rem 0.5rem 0.2rem 0;
}

td pre {
    white-space: pre-wrap;
}